# vscode
.vscode/

# cpp
cpp/build/
cpp/files/visual_odometry_example.csv

# python
python/__pycache__

# rosbags
test_rosbags/

# test library
simple_lib/build

# visual odometry
visual_odometry/build/
visual_odometry/lib/
visual_odometry/output_logs/
visual_odometry/bin/