<?xml version="1.0"?>

<model>
  <name>10x7 Checkerboard Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>10x7_my_checkerboard.sdf</sdf>

  <author>
    <name>Dogyu Ko</name>
    <email>kodogyu4756@gmail.com</email>
  </author>

  <description>
    Checkerboard with 10x7 vertices
  </description>
</model>
