<?xml version="1.0"?>

<model>
  <name>5x3 Checkerboard Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>5x3_my_checkerboard.sdf</sdf>

  <author>
    <name>Dogyu Ko</name>
    <email>kodogyu4756@gmail.com</email>
  </author>

  <description>
    Checkerboard with 5x3 vertices
  </description>
</model>
