<?xml version="1.0"?>

<model>
  <name>7x4 Checkerboard Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>7x4_my_checkerboard.sdf</sdf>

  <author>
    <name>Dogyu Ko</name>
    <email>kodogyu4756@gmail.com</email>
  </author>

  <description>
    Checkerboard with 7x4 vertices
  </description>
</model>
