<?xml version="1.0"?>

<model>
  <name>8x6 Checkerboard Plane</name>
  <version>1.0</version>
  <sdf version='1.6'>8x6_my_checkerboard.sdf</sdf>

  <author>
    <name>Dogyu Ko</name>
    <email>kodogyu4756@gmail.com</email>
  </author>

  <description>
    Checkerboard with 8x6 vertices
  </description>
</model>
